﻿@model RoleFormViewModel

@{
    ViewData["Title"] = "Add new role";
}

<h3 class="text-center text-success">@ViewData["Title"]</h3>
<diV class="container">
    <form method="post" asp-controller="Roles" asp-action="CreateRole" class="row justify-content-center">
        <div class="col-md-3 p-4 rounded-3" style="background-color: #3f51b5;" >
            <div class="row g-3">
                <div class="col-12">
                    <label asp-for="NameEn" class="form-label text-light"></label>
                    <input asp-for="NameEn" class="form-control" >
                    <span asp-validation-for="NameEn"></span>
                </div>
                <div class="col-12">
                    <label asp-for="NameAr" class="form-label text-light"></label>
                    <input asp-for="NameAr" class="form-control" >
                    <span asp-validation-for="NameAr"></span>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-success w-100 px-3">Add</button>
                </div>
            </div>
        </div>
    </form>
    <div>
        <a class="btn btn-outline-secondary px-4" asp-area="Identity" asp-controller="Users" asp-action="Index" >Back</a>
    </div>
</diV>



@section Scripts {
        <partial name="_ValidationScriptsPartial" />
}