﻿@model IEnumerable<Role>

@{
    ViewData["Title"] = "Roles";
}

<h1 class="text-center text-success">@ViewData["Title"]</h1>


<table class="table text-center align-middle">
    <thead>
        <tr>
            <th>NameAr</th>
            <th>NameEn</th>
        </tr>
    </thead>
    <tbody>
        @if (!Model.Any())
        {
            <h4 class="text-center text-danger">No Roles Were Found!!</h4>
        }
        else
        {
            foreach (var role in Model)
            {
                <tr>
                    <td>@role.NameAr</td>
                    <td>@role.Name</td>
                </tr>
            }
        }
    </tbody>
</table>