﻿@model UsersAndRolesViewModel

@{
    ViewData["Title"] = "Users & Roles";
}

<div class="container">

    <div class="row justify-content-between mb-5">
        <div class="col-md-4 d-flex justify-content-center">
            <a asp-area="Identity" asp-controller="Roles" asp-action="CreateRole" class="btn btn-outline-success">Add new role</a>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
            <a asp-area="Identity" asp-controller="Users" asp-action="CreateUser" class="btn btn-outline-success">Add new user</a>
        </div>
    </div>

    <div class="row justify-content-between">
        <div class="col-md-4">
            <h4 class="text-center text-primary">Roles</h4>
            <table class="table table-striped table-bordered table-dark text-center align-middle">
                <thead>
                    <tr>
                        <th>NameAr</th>
                        <th>NameEn</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="roles">
                    @if (Model.Roles.Any())
                    {
                        foreach (var role in Model.Roles)
                        {
                            <tr>
                                <td>@role.NameAr</td>
                                <td>@role.NameEn</td>
                                <td class="checkBox-container">
                                      @*<input class="form-check-input" type="checkbox" >*@
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <h3 class="text-danger text-center">No Roles Were Found!!</h3>
                    }
                </tbody>
            </table>
            <div class="text-center">
                <a href="javascript:;" class="btn btn-success px-3" id="save-userRoles-btn">Save</a>
            </div>
        </div>
        <div class="col-md-4">
            <h4 class="text-center text-primary">Users</h4>
            <table class="table table-striped table-bordered table-dark text-center align-middle col-md-6">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Users.Any())
                    {
                        foreach (var user in Model.Users)
                        {
                            <tr>
                                <td>@user.Email</td>
                                <td>
                                    <input class="form-check-input allUsers-checkbox" type="checkbox" />
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <h3 class="text-danger text-center">No Users Were Found!!</h3>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <h4 class="text-center text-primary">Users with Assigned Roles</h4>
            <table class="table table-striped table-bordered table-dark text-center align-middle col-md-6">
                <thead>
                    <tr>
                        <th>Roles</th>
                        <th>Email</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="UserWithRoles">
                    @if (Model.Users.Any())
                    {
                        foreach (var user in Model.UsersWithRoles)
                        {
                            <tr>
                                <td>@string.Join(", ", user.Roles.ToList())</td>
                                <td>@user.Email</td>
                                <td>
                                    <button class="btn btn-primary EditRolesBtn" data-id="@user.UserID" onclick="EditFun(this)">Edit Roles</button>
                                    @*<button class="btn btn-success Call" data-id="@user.UserID" onclick="Callfun(this)">Make A Call!!</button>*@
                                    <a class="btn btn-success Call" data-id="@user.UserID" href="/Users/VideoCall" target="_blank">Make A Call!!</a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <h3 class="text-danger text-center">No Users Were Found!!</h3>
                    }
                </tbody>
            </table>
        </div>
    </div>
    </div>

</div>



@section Scripts{

    <script>

         function EditFun(element){
                var btn = $(element);

                $('.active').each(function(){
                    $(this).removeClass('active btn-success');
                });
                btn.addClass('active btn-success');

                //$('.form-check-input').removeAttr('hidden');

                var roles = $('.active').parents('td').siblings('td').eq(0).text();
                 $('.checkBox-container').children('input').remove();
                 $('.checkBox-container').append(
                     `
                        <input class="form-check-input" type="checkbox" />
                     `
                 );

                 $('.checkBox-container').each(function () {
                    
                    var roleName = $(this).siblings('td').eq(1).text();
                    if (roles.includes(roleName))
                    {
                        $(this).children('input').attr('checked', 'checked');
                        console.log("checked");
                    }
                    else
                    {
                        $(this).children('input').removeAttr('checked');
                        console.log("not checked");
                    }
                });

        }
        $(function(){

            //save roles
            $("#save-userRoles-btn").on('click', function(){
                var activeRoles = [];

                $("[type=checkbox]:checked").each(function(){
                    activeRoles.push( $(this).parents('td').siblings('td').eq(1).text() );
                });
                 
                var email = $('.active').parents('td').siblings('td').eq(1).text();
                var data = {
                    Email: email,
                    ActiveRoles: activeRoles
                };

                $('.active').parents('td').siblings('td').eq(0).text(activeRoles.join(', '));

                $.post("@Url.Action("ChangeRoles")", {model: data} , function () {
                });
                        $('.active').removeClass('active btn-success');
                        $('.checkBox-container').children('input').remove();
            });

        });
       

    </script>


    <script>
        function Callfun(btn) {
            //e.preventDefault();
            function getUrlParams(url = window.location.href) {
                let urlStr = url.split("?")[1];
                return new URLSearchParams(urlStr);
            }

            const roomID =
                getUrlParams().get("roomID") ||
                "room_" + Math.floor(Math.random() * 100);
            //const userID = Math.floor(Math.random() * 10000) + "Eslam";
            const userID = "51715a45-4c14-40b4-ba4e-3ccf9dec3e7b";

            const userName = "userName" + userID;
            const appID = 221417685;
            const serverSecret = "be15e8ea06d70c26c704f87ed661b6aa";
            const kitToken = ZegoUIKitPrebuilt.generateKitTokenForTest(
                appID,
                serverSecret,
                roomID,
                userID,
                userName
            );

            const zp = ZegoUIKitPrebuilt.create(kitToken);
            zp.joinRoom({
                container: document.querySelector("#root"),
                sharedLinks: [
                    {
                        url:
                            window.location.origin +
                            window.location.pathname +
                            "?roomID=" +
                            roomID +
                            "?hostID=" +
                            userID,
                    },
                ],
                scenario: {
                    mode: ZegoUIKitPrebuilt.OneONone,
                },
            });
        }
    </script>


}