﻿@model IdentityUser

<div id="root"></div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script src="https://unpkg.com/@@zegocloud/zego-uikit-prebuilt/zego-uikit-prebuilt.js"></script>

<script>
        function getUrlParams(url = window.location.href) {
            let urlStr = url.split("?")[1];
            return new URLSearchParams(urlStr);
        }

        const roomID =
            getUrlParams().get("roomID") ||
            "room_" + Math.floor(Math.random() * 100);
        //const userID = Math.floor(Math.random() * 10000) + "Eslam";
        //const userID = "51715a45-4c14-40b4-ba4e-3ccf9dec3e7b";
        const userID = "@Model.Id";

        const userName = "@Model.UserName";
        const appID = 221417685;
        const serverSecret = "be15e8ea06d70c26c704f87ed661b6aa";
        const kitToken = ZegoUIKitPrebuilt.generateKitTokenForTest(
            appID,
            serverSecret,
            roomID,
            userID,
            userName
        );

        const zp = ZegoUIKitPrebuilt.create(kitToken);
        zp.joinRoom({
            container: document.querySelector("#root"),
            sharedLinks: [
                {
                    url:
                        window.location.origin +
                        window.location.pathname +
                        "?roomID=" +
                        roomID +
                        "?hostID=" +
                        userID,
                },
            ],
            scenario: {
                mode: ZegoUIKitPrebuilt.OneONone,
            },
        });

    $(function (){
        var inviteLink = $("#root .Ym5tIpCMz8al_AZ4Lk5y").val();
        console.log("inviteLink = " + inviteLink)
    });
</script>
